<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPFDataGridExamples.Properties.Settings.NorthwindConnectionString"
            connectionString="Persist Security Info=False;Integrated Security=true;Initial Catalog=Northwind;server=(local)"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>